name: "PowerShell Script Analyzer"

on:
  workflow_call:

permissions:
  contents: read

jobs:
  analyzer:
    name: "PSScriptAnalyzer Action"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      security-events: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - name: "Checkout code"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: "Run PSScriptAnalyzer"
        uses: microsoft/psscriptanalyzer-action@6b2948b1944407914a58661c49941824d149734f # v1.1
        with:
          path: .\
          recurse: true
          output: results.sarif
      - name: "Upload to code-scanning"
        if: ${{ hashFiles('**/results.sarif') != '' }}
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v4.31.5
        with:
          sarif_file: results.sarif
          category: "powershell"
