name: Assign Pull Request Creator

on:
  workflow_call:
    inputs:
      assignees:
        required: true
        type: string

permissions:
  contents: read

jobs:
  assign-assignees:
    name: Assign Pull Request Creator
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit
      - name: Assign PR creator
        uses: actions-ecosystem/action-add-assignees@a5b84af721c4a621eb9c7a4a95ec20a90d0b88e9 # v1.0.1 - Not Verified
        with:
          github_token: ${{ secrets.github_token }}
          assignees: ${{ inputs.assignees }}
  report:
    needs: assign-assignees
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Report Failure
        run: |
          echo "The 'Assign Pull Request Creator' workflow has failed."
          echo "${{ toJSON(github)}}"
