name: Snyk Code Scan (Python)

on:
  workflow_call:
    secrets:
      SNYK_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  security:
    name: Snyk Code Scan (Python)
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.13' # Use the latest Python version
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install .[dev]
        continue-on-error: true
      - name: Install Snyk CLI
        uses: snyk/actions/setup@9adf32b1121593767fc3c057af55b55db032dc04 # v1.0.0
      - name: Authenticate to Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}
      - name: Monitor dependencies with Snyk
        run: snyk monitor --all-projects --detection-depth=5
      - name: Run Snyk to check for vulnerabilities
        run: snyk test --sarif-file-output=snyk.sarif --all-projects --detection-depth=5
        continue-on-error: true # To make sure that SARIF upload gets called even if there are vulnerabilities
      - name: Upload result to GitHub Code Scanning
        if: ${{ hashFiles('**/snyk.sarif') != '' }}
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
        with:
          sarif_file: snyk.sarif
          category: "snyk-python"
